<div ng-if="!loading" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search.name"  ng-change="update();" placeholder="Search">
                        <input type="text" class="form-control" ng-model="search.ville"  ng-change="update();" placeholder="City">
                        <select class="form-control" ng-model="search.etoiles"  ng-change="update();">
                            <option value="">Number of stars</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="1">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{'active':search.orderBy=='libelle'}">
                        <a href="javascript:void(0)" ng-click=" updateSort('libelle'); update();">Names</a>
                    </li>
                    <li ng-class="{'active':search.orderBy=='categorie'}">
                        <a href="javascript:void(0)" ng-click=" updateSort('categorie'); update();">Stars</a>
                    </li>
                    <li ng-class="{'active':search.orderBy=='ville'}">
                        <a href="javascript:void(0)" ng-click=" updateSort('ville');update();">Cities</a>
                    </li>
                    <li>
                        <a><span ng-if="search.order=='DESC'">&uarr;</span><span ng-if="search.order=='ASC'">&darr;</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="row" ng-if="updateHotels">
        <center><img src="lib/img/loader2.gif" alt=""></center>
    </div>
    <div class="row" ng-if="!updateHotels">
        <div class="col-md-12" ng-repeat="hotel  in hotels">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>{{hotel.libelle}}</h4>
                            <div ng-bind-html="hotel.description_courte"></div>
                            <span ng-repeat="tag in hotel.tags"> #{{tag.libelle}} </span>
                        </div>
                        <div class="col-md-3">
                            <p>{{hotel.ville.libelle }}</p>
                            <p>{{hotel.categorie.libelle }}</p>
                            <p><a href="#/hotel/{{hotel.id}}" class="btn btn-primary" role="button">Détails</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button ng-if="!moreHotelsLoading" type="button" ng-click="loadMorePost()"
                    class="btn btn-primary btn-lg btn-block" style="margin-bottom: 100px;">
                Load more Hotels
            </button>
            <button ng-if="moreHotelsLoading" type="button" disabled class="btn btn-primary btn-lg btn-block"
                    style="margin-bottom: 100px;">
                Loading ...
            </button>
        </div>
    </div>
</div>