<div ng-if="!loading" class="container">
    <div class="page-header">
        <h1>{{ hotel.libelle }}
            <small>{{ hotel.ville.region.libelle }}</small>
        </h1>
    </div>
    <div style="margin-bottom: 40px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="javascript:void(0)" ng-click="tab=1" aria-controls="home" role="tab" data-toggle="tab">Description</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=2" aria-controls="profile" role="tab"
                   data-toggle="tab">Data</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=3" aria-controls="messages" role="tab" data-toggle="tab">Gmaps</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=4; loadSaisons();" aria-controls="messages" role="tab"
                   data-toggle="tab">Seasons</a>
            </li>
        </ul>
    </div>
    <div class="row" ng-if="tab==1">
        <div class="col-md-12">
            <div ng-bind-html="hotel.description_longue"></div>
        </div>
    </div>
    <div class="row" ng-if="tab==2">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Name :</dt>
                <dd>{{ hotel.libelle }}</dd>
                <dt>Chaine :</dt>
                <dd>{{ hotel.chaine.libelle }}</dd>
                <dt>Stars :</dt>
                <dd>{{ hotel.categorie.libelle }}</dd>
                <dt>Country :</dt>
                <dd>{{ hotel.ville.pays.libelle }}</dd>
                <dt>City :</dt>
                <dd>{{ hotel.ville.libelle }}</dd>
            </dl>
        </div>
        <div class="col-md-4">

            <dl class="dl-horizontal">
                <dt>Rooms :</dt>
                <dd>
                    <p ng-repeat="chambre in hotel.chambres">- {{ chambre.libelle }}</p>
                </dd>
                <dt>Arrangement :</dt>
                <dd>
                    <p ng-repeat="arrangement in hotel.arrangements">- {{ arrangement.libelle }}</p>
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Address :</dt>
                <dd>{{ hotel.adresse }}</dd>
                <dt>Country :</dt>
                <dd>{{ hotel.ville.pays.libelle }}</dd>
                <dt>City :</dt>
                <dd>{{ hotel.ville.libelle }}</dd>
                <dt>Email :</dt>
                <dd>{{ hotel.email1 }}</dd>
                <dt>Tel :</dt>
                <dd>{{ hotel.tel1}}</dd>
            </dl>
        </div>
    </div>
    <div class="row" ng-if="tab==3">
        <div class="col-md-12">
            <ng-maps longitude="hotel.longitude" latitude="hotel.latitude"></ng-maps>
        </div>
    </div>
    <div class="row" ng-if="tab==4">
        <div class="col-md-12 animated tab1" ng-if="!selectedSeason">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Contrat</th>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Perides</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="loadingSaisons">
                    <td colspan="5" style="text-align: center"><img src="lib/img/loader2.gif" alt=""></td>
                </tr>
                <tr ng-if="!loadingSaisons" ng-repeat="saison in saisons">
                    <td>{{saison.id}}</td>
                    <td> {{saison.contrat.libelle}}</td>
                    <td> {{saison.libelle}}</td>
                    <td>
                        <span class="label label-default" ng-if="saison.type==1">Saison</span>
                        <span class="label label-primary" ng-if="saison.type==2">Promotion</span>
                        <span class="label label-success" ng-if="saison.type==3">Amicale</span>
                        <span class="label label-warning" ng-if="saison.type==4">Contingent</span>
                        <span class="label label-danger" ng-if="saison.type==5">EarlyBooking</span>
                    </td>
                    <td>
                        <p ng-repeat="periode in saison.periodes"> {{periode.date_debut|date:"dd/MM/yyyy" }} ->
                            {{periode.date_fin|date:"dd/MM/yyyy" }}</p>
                    </td>
                    <td>
                        <a href="javascript:void(0)" ng-click="changeSelectedSeason(saison.id)">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 animated tab3" ng-if="selectedSeason">
            <button type="button" ng-click="cancelSelectedSeason()"><span class="glyphicon glyphicon-arrow-left"></span>
                Return
            </button>
            <h2>{{ selectedSeason.libelle }}</h2>
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Hotel</dt>
                        <dd>{{selectedSeason.hotel.libelle}} nights</dd>
                        <dt>Convention</dt>
                        <dd>{{selectedSeason.contrat.libelle}}</dd>
                        <dt>Type</dt>
                        <dd>
                            <span ng-if="selectedSeason.type==1">Saison</span>
                            <span ng-if="selectedSeason.type==2">Promotion</span>
                            <span ng-if="selectedSeason.type==3">Amicale</span>
                            <span ng-if="selectedSeason.type==4">Contingent</span>
                            <span ng-if="selectedSeason.type==5">EarlyBooking</span>
                        </dd>
                        <dt>Min Stay</dt>
                        <dd>{{selectedSeason.min_stay}} nights</dd>
                        <dt>Period</dt>
                        <dd ng-repeat="periode in selectedSeason.periodes"> {{periode.date_debut|date:"dd/MM/yyyy" }} -> {{periode.date_fin|date:"dd/MM/yyyy" }}</dd>
                    </dl>
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt>Arr.Base</dt>
                        <dd>{{selectedSeason._arr_base.libelle}}</dd>
                        <dt>Base Price</dt>
                        <dd>{{selectedSeason.prix_convention}} DT</dd>
                        <dt>marge_vente</dt>
                        <dd>{{selectedSeason.marge_vente}} {{selectedSeason.pourcentage|showSigne}}</dd>
                        <dt>Arrangements</dt>
                        <dd ng-repeat="arrangement in selectedSeason.arrangements" ng-if="arrangement.etat">
                            <strong>{{arrangement.arrangement.libelle}}</strong> | Val : {{  arrangement.valeur }} {{arrangement.valeur_pour|showSigne}} | Marge : {{  arrangement.marge }} {{arrangement.marge_pour|showSigne}}
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>