<div ng-if="!loading" class="container">
    <div class="page-header">
        <h1>{{ hotel.libelle }}
            <small>{{ hotel.ville.region.libelle }}</small>
        </h1>
    </div>
    <div style="margin-bottom: 40px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="javascript:void(0)" ng-click="tab=1" aria-controls="home" role="tab" data-toggle="tab">Description</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=2" aria-controls="profile" role="tab"
                   data-toggle="tab">Technical sheet</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=3" aria-controls="messages" role="tab" data-toggle="tab">Geolocation</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" ng-click="tab=4; loadSaisons();" aria-controls="messages" role="tab"
                   data-toggle="tab">Seasons</a>
            </li>
        </ul>
    </div>
    <div class="row" ng-if="tab==1">
        <div class="col-md-12">
            <div ng-bind-html="hotel.description_longue"></div>
        </div>
    </div>
    <div class="row" ng-if="tab==2">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Name :</dt>
                <dd>{{ hotel.libelle }}</dd>
                <dt>Chaine :</dt>
                <dd>{{ hotel.chaine.libelle }}</dd>
                <dt>Stars :</dt>
                <dd>{{ hotel.categorie.libelle }}</dd>
                <dt>Country :</dt>
                <dd>{{ hotel.ville.pays.libelle }}</dd>
                <dt>City :</dt>
                <dd>{{ hotel.ville.libelle }}</dd>
            </dl>
        </div>
        <div class="col-md-4">

            <dl class="dl-horizontal">
                <dt>Rooms :</dt>
                <dd>
                    <p ng-repeat="chambre in hotel.chambres">- {{ chambre.libelle }}</p>
                </dd>
                <dt>Arrangement :</dt>
                <dd>
                    <p ng-repeat="arrangement in hotel.arrangements">- {{ arrangement.libelle }}</p>
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Address :</dt>
                <dd>{{ hotel.adresse }}</dd>
                <dt>Country :</dt>
                <dd>{{ hotel.ville.pays.libelle }}</dd>
                <dt>City :</dt>
                <dd>{{ hotel.ville.libelle }}</dd>
                <dt>Email :</dt>
                <dd>{{ hotel.email1 }}</dd>
                <dt>Tel :</dt>
                <dd>{{ hotel.tel1}}</dd>
            </dl>
        </div>
    </div>
    <div class="row" ng-if="tab==3">
        <div class="col-md-12">
            <ng-maps longitude="hotel.longitude" latitude="hotel.latitude"></ng-maps>
        </div>
    </div>
    <div class="row" ng-if="tab==4">
        <div class="col-md-12 animated tab1">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Contrat</th>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Perides</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="loadingSaisons">
                    <td colspan="5" style="text-align: center"><img src="lib/img/loader2.gif" alt=""></td>
                </tr>
                <tr ng-if="!loadingSaisons" ng-repeat="saison in saisons">
                    <td>{{saison.id}}</td>
                    <td> {{saison.contrat.libelle}}</td>
                    <td> {{saison.libelle}}</td>
                    <td>
                        <span class="label label-default" ng-if="saison.type==1">Saison</span>
                        <span class="label label-primary" ng-if="saison.type==2">Promotion</span>
                        <span class="label label-success" ng-if="saison.type==3">Amicale</span>
                        <span class="label label-warning" ng-if="saison.type==4">Contingent</span>
                        <span class="label label-danger" ng-if="saison.type==5">EarlyBooking</span>
                    </td>
                    <td>
                        <p ng-repeat="periode in saison.periodes"> {{periode.date_debut|date:"dd/MM/yyyy" }} ->
                            {{periode.date_fin|date:"dd/MM/yyyy" }}</p>
                    </td>
                    <td>
                        <a href="javascript:void(0)" ng-click="changeSelectedSeason(saison.id)" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-if="selectedSeason">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ selectedSeason.libelle }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Hotel</dt>
                            <dd>{{selectedSeason.hotel.libelle}}</dd>
                            <dt>Convention</dt>
                            <dd>{{selectedSeason.contrat.libelle}}</dd>
                            <dt ng-if="selectedSeason.agences.length >0">Agences</dt>
                            <dd ng-repeat="agence in selectedSeason.agences">
                                {{ agence }}
                            </dd>
                            <dt>Type</dt>
                            <dd>
                                <span class="label label-default" ng-if="selectedSeason.type==1">Saison</span>
                                <span class="label label-primary" ng-if="selectedSeason.type==2">Promotion</span>
                                <span class="label label-success" ng-if="selectedSeason.type==3">Amicale</span>
                                <span class="label label-warning" ng-if="selectedSeason.type==4">Contingent</span>
                                <span class="label label-danger" ng-if="selectedSeason.type==5">EarlyBooking</span>
                            </dd>
                            <dt>Min Stay</dt>
                            <dd>{{selectedSeason.min_stay}} nights</dd>
                            <dt>Period</dt>
                            <dd ng-repeat="periode in selectedSeason.periodes"> {{periode.date_debut|date:"dd/MM/yyyy" }} -> {{periode.date_fin|date:"dd/MM/yyyy" }}</dd>
                            <dt>Ages</dt>
                            <dd><strong>Enfant 1 :</strong> [{{selectedSeason.min1_age_enfant}}..{{selectedSeason.max1_age_enfant}}]</dd>
                            <dd><strong>Enfant 2 :</strong> [{{selectedSeason.min2_age_enfant}}..{{selectedSeason.max2_age_enfant}}]</dd>
                            <hr>
                            <dt>Arr.Base</dt>
                            <dd>{{selectedSeason._arr_base.libelle}}</dd>
                            <dt>Base Price</dt>
                            <dd>{{selectedSeason.prix_convention}} DT</dd>
                            <dt>marge_vente</dt>
                            <dd>{{selectedSeason.marge_vente}} {{selectedSeason.pourcentage|showSigne}}</dd>
                            <hr>
                            <dt ng-if="selectedSeason.chambres.length >0">Occupation</dt>
                            <dd ng-repeat="chambre in selectedSeason.chambres">
                                <span ng-bind-html="chambre.etat|etat "></span> <strong>{{chambre.chambre.libelle}} :</strong>  Adulte[{{chambre.min_adulte}}-{{chambre.max_adulte}}] & child [{{chambre.min_enfant}}-{{chambre.max_enfant}}] & Pax [{{chambre.min_pax}}-{{chambre.max_pax}}]
                            </dd>
                            <dt ng-if="selectedSeason.arrangements.length >0">Arrangements</dt>
                            <dd ng-repeat="arrangement in selectedSeason.arrangements">
                                <span ng-bind-html=" arrangement.etat|etat "></span> <strong>{{arrangement.arrangement.libelle}} :</strong>  Val : {{  arrangement.valeur }} {{arrangement.valeur_pour|showSigne}} | Marge : {{  arrangement.marge }} {{arrangement.marge_pour|showSigne}}
                            </dd>
                            <dt ng-if="selectedSeason.vues.length >0">Vues</dt>
                            <dd ng-repeat="vue in selectedSeason.vues">
                                <span ng-bind-html="vue.etat|etat "></span> <strong>{{vue.vue.libelle}}</strong> => Val : {{  vue.valeur }} {{vue.valeur_pour|showSigne}} | Marge : {{  vue.marge }} {{vue.marge_pour|showSigne}}
                            </dd>
                            <hr>
                            <dt>Supp</dt>
                            <dd> <strong>Single : </strong>  {{selectedSeason.saison_supp.supp_single}} {{selectedSeason.saison_supp.supp_single_pour|showSigne}}</dd>
                            <dd> <strong>Single Marge : </strong>  {{selectedSeason.saison_supp.sipp_single_marge}} {{selectedSeason.saison_supp.supp_single_marge_pour|showSigne}}</dd>
                            <dd> <strong>Single Child : </strong>  {{selectedSeason.saison_supp.supp_single_enfant}}</dd>
                            <hr>
                            <dt>1 enfant & 1 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant1_adulte1}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant1_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dt>1 enfant  & 2 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant2_adulte1}} {{selectedSeason.saison_reduc.pour1_enfant2_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant2_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant2_adulte|showSigne}}</dd>
                            <dt>1 enfant separed</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val1_enfant_separe1}} {{selectedSeason.saison_reduc.pour1_enfant_separe|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val1_enfant_separe2}} {{selectedSeason.saison_reduc.pour1_enfant_separe|showSigne}}</dd>

                            <dt>2> enfant & 1 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant1_adulte1}} {{selectedSeason.saison_reduc.pour2_enfant1_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant1_adulte2}} {{selectedSeason.saison_reduc.pour1_enfant1_adulte|showSigne}}</dd>
                            <dt>2> enfant  & 2 adult</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant2_adulte1}} {{selectedSeason.saison_reduc.pour2_enfant2_adulte|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant2_adulte2}} {{selectedSeason.saison_reduc.pour2_enfant2_adulte|showSigne}}</dd>
                            <dt>2> enfant separed</dt>
                            <dd><strong>Age 1 :</strong> - {{selectedSeason.saison_reduc.val2_enfant_ou_plus_separe1}} {{selectedSeason.saison_reduc.pour2_enfant_ou_plus_separe|showSigne}}</dd>
                            <dd><strong>Age 2 :</strong> - {{selectedSeason.saison_reduc.val2_enfant_ou_plus_separe2}} {{selectedSeason.saison_reduc.pour2_enfant_ou_plus_separe|showSigne}}</dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>