<div ng-hide="loading">
    <form ng-submit="addComment();">
        <span>Add Hotel </span> :
        <input type="number" placeholder="ID" ng-model="newHotel.id">
        <input type="number" placeholder="userId" ng-model="newHotel.userId">
        <input type="text" placeholder="title" ng-model="newHotel.title">
        <input type="text" placeholder="body" ng-model="newHotel.body">
        <input type="submit" value="Add">
    </form>
    <hr>
    <span>Filter</span> :
    <input type="text" ng-model="search.title" placeholder="filter by title">
    <input type="text" ng-model="search.body" placeholder="filter by body">
    <select ng-model="order">
        <option value="id">No Ordre</option>
        <option value="title" selected>By Title</option>
        <option value="body">By body</option>
    </select>
    <div ng-repeat="hotel in hotels| filter:search | orderBy:order">
        <ng-hotel hotel="hotel" showurl="true" ></ng-hotel>
    </div>
</div>