<div ng-hide="loading" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search.title" placeholder="filter by title">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search.body" placeholder="filter by body">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{'active':order=='id'}"><a href="javascript:void(0)" ng-click=" order ='id' ">No Sort</a></li>
                    <li ng-class="{'active':order=='title'}"><a href="javascript:void(0)" ng-click=" order = 'title' ">By Title</a></li>
                    <li ng-class="{'active':order=='body'}"><a href="javascript:void(0)" ng-click=" order = 'body' ">By body</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-12 animated posts " ng-repeat="post in posts | filter:search | orderBy:order">
            <ng-post post="post"></ng-post>
        </div>
        <div class="col-md-12">
            <button ng-if="!morePostLoading" type="button" ng-click="loadMorePost()" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 100px;">
                Load more posts
            </button>
            <button ng-if="morePostLoading" type="button" disabled class="btn btn-primary btn-lg btn-block" style="margin-bottom: 100px;">
                Loading ...
            </button>
        </div>
    </div>
</div>