<div ng-hide="loading" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{user.name}}</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active':tab.profile}">
                    <a ng-click="activeProfile()" aria-controls="home" role="tab" data-toggle="tab"
                       style="cursor: pointer">Profile</a>
                </li>
                <li role="presentation" ng-class="{'active':tab.todos}">
                    <a ng-click="activeToDos()" aria-controls="profile" role="tab" data-toggle="tab"
                       style="cursor: pointer">Todos List</a>
                </li>
                <li role="presentation" ng-class="{'active':tab.albums}">
                    <a ng-click="activeAlbums()" aria-controls="profile" role="tab" data-toggle="tab"
                       style="cursor: pointer">Albums List</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12" ng-show="tab.profile">
            <dl class="dl-horizontal" style="margin-top: 20px;">
                <dt>Name</dt>
                <dd>{{user.name}}</dd>

                <dt>User Name</dt>
                <dd>{{user.username}}</dd>

                <dt>Address</dt>
                <dd>{{user.address.city|uppercase}} {{user.address.street}} {{user.address.suite}}
                    {{user.address.zipcode}}
                </dd>

                <dt>Email</dt>
                <dd>{{user.email}}</dd>

                <dt>Phone</dt>
                <dd>{{user.phone}}</dd>

                <dt>Website</dt>
                <dd>{{user.website}}</dd>

                <dt>Company</dt>
                <dd>{{user.company.name}}</dd>
            </dl>
        </div>
        <div class="col-md-12" ng-show="tab.todos">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="loadingToDo">
                    <td colspan="5" style="text-align: center"><img src="lib/img/loader2.gif" alt=""></td>
                </tr>
                <tr ng-hide="loadingToDo" ng-repeat="todo in todos">
                    <td>{{todo.id}}</td>
                    <td ng-if="todo.completed"> <del> {{todo.title}} </del></td>
                    <td ng-if="!todo.completed">{{todo.title}}</td>
                    <td>
                        <span ng-if="todo.completed" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span ng-if="!todo.completed" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show="tab.albums">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="loadingAlbums">
                            <td colspan="5" style="text-align: center"><img src="lib/img/loader2.gif" alt=""></td>
                        </tr>
                        <tr ng-hide="loadingAlbums" ng-repeat="album in albums">
                            <td>{{album.id}}</td>
                            <td>{{album.title}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="showPhotos(album.id)">
                                    <span  class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" ng-show="loadingPhotos" style="text-align: center">
                            <img src="lib/img/loader2.gif"  style="width: 200px;margin-top: 130px;">
                        </div>
                        <div class="col-md-4 animated pulse" ng-repeat="photo in photos" ng-hide="loadingPhotos">
                            <a href="{{photo.url}}" target="_blank">
                                <img src="{{photo.thumbnailUrl}}" class="img-thumbnail">
                            </a>
                            <p style="height: 90px;">{{photo.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>